* {
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

button {
    margin: 10px 5px 5px 5px;
}

img {
    margin: 5px 10px 10px 10px;
}

button.submit {
    margin: 5px 0px 0px 0px;
}

.newCharDiv {
    display: inline-block;
}

p {
    margin: 10px 0 0 10px;
}
