* {
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

button {
    margin: 10px 5px 5px 5px;
}

img {
    margin: 10px;
}

button.submit {
    margin: 5px 0px 0px 0px;
}